h1 {
  color: white;
}
body {
  background-color: black;
  font-family: helvetica;
}
.lesson {
  background-color: orange;
  border-radius: 10px;
  color: black;
  padding: 5px;
  margin: 25px;
}
h2 {
  margin: 0px;
}
h3 {
  font-size: 16px;
}
.concept {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  color: black;
}
.lesson-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.concept-tite {
  font-size: 18px;
  margin: 5px;
  font-weight: bold;
}